.table{
  width: 440px;
  margin: 50px 100px;
  display: inline-block;
  .elem{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    &.elem_1{
      &.filled_1 {
        background-color: #4F8AFF;
      }
      &.filled_0{
        background-color: #FFFAAE;
      }
      &.filled_3{
        background-color: #FF5454;
      }
      &.filled_2{
        background-color: #DDDDDD;
      }
    }
    &.elem_2{
      background-color: #F9F7DB;
      &:hover{
        background-color: #FCE4B8;
        cursor: pointer;
        cursor: hand;
      }
      &.filled_3{
        background-color: #F9CFCF;
      }
      &.filled_2{
        background-color: #D3E2E5;
      }
    }
  }
  &.disabled_true{
    background-color: #eee;
    .elem {
      &.elem_2{
        &:hover{
          background-color: #F9F7DB;
          cursor: default;
        }
      }
    }
  }
}

